<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'lab4_form.css'%}">
    <title>Notes</title>
  </head>
  <body>
    <div class ="header">
        <a href='/lab-4'>MESSAGE TABLE</a>
        <a href="note-list">MESSAGE CARDS</a>
    </div>
    <div class="container">
      <h1 class = "title">Write Your Message</h1>
      <form action = "" method = "POST" id="NoteForm">
        {% csrf_token %}
        <div class = "messageTitle">
          <label>Title</label>
          <input class = "inputTitle" type="text" name="title" form="NoteForm">
        </div>
        <div class="NoteForm">
          <div class = "toFrom">
              <label for="to">To</label>
              <input type="text" name="to" form="NoteForm">
              <label for="by">From</label>
              <input type="text" name="by" form="NoteForm">
          </div>
          <br>
          <div class="message">
            <label for="message">Message</label><br>
            <textarea cols="70" rows="20" name = "message" form="NoteForm"></textarea>
            <input class = "button" type= "submit" value = "Submit">
          </div>
        </div>
        <br>
      </form>
    </div>
  </body>
</html>