<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'lab4_note_list.css'%}">
    <title>Notes Table</title>
  </head>
  <body>
    <div class ="header">
        <a href='/lab-4'>MESSAGE TABLE</a>
        <a href='add-note'>ADD MESSAGE</a>
    </div>
    <h1 class ="top">Message Cards</h1>
    {% if notes %}
    {% for note in notes %}
    <div class ="parent">
        <h1 class ="judul">{{note.title}}</h1>
        <div class = "container">
            <p class ="to">Dear {{note.to}}</p>
            <p class="message">{{note.message}}</p>
            <p class="from">{{note.by}}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
  </body>
</html>