<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'lab4_index.css'%}">
    <title>Notes Table</title>
  </head>
  <body>
    <div class ="header">
      <a href='add-note'>ADD MESSAGE</a>
      <a href="note-list">MESSAGE CARDS</a>
    </div>
    <div class = "body">
      <h1>Messages Data</h1>
    <div class = "container">
        <table>
          <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
          </tr>
          <!-- TODO loop from Friend model -->
        {% if notes %}
          {% for note in notes %}
            <tr>
              <td>{{note.to}}</td>
              <td>{{note.by}}</td>
              <td>{{note.title}}</td>
              <td>{{note.message}}</td>
            </tr>
          {% endfor %}
        {% endif %}
        </table>
      </div>
    </div>
  </body>
</html>