body {
    background-color: pink;
    margin: 0px;

}

.title{
    margin-left: 150px;
    text-align: center;
    font-family: Verdana;
    color: white;
    background-color: palevioletred;
    border: 5px solid rgb(83, 82, 82);
    border-radius: 10px;
    width: 70%;
}

.inputTitle{
    width: 800px;
    margin-left: 5px;
}

.messageTitle{
    margin-left: 150px;
    border: 5px solid rgb(83, 82, 82);
    background-color: rgb(83, 82, 82);
    color: white;
    width:70%;
}

.NoteForm{
    margin-left: 150px;
    height: 70%;
    width: 70%;
    text-align: center;
    border: 5px solid palevioletred;
    background-color: palevioletred;
    font-size: 10pt;
}

.button{
    height: 50px;
    margin-left: 90%;
    border: 1px solid black;
    background-color: palevioletred;
    color: white;
}


.toFrom{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(83, 82, 82);
    color: white;
}

.toFrom label{
    margin-left: 160px;
}

.toFrom input{
    margin-left: 5px;
}

.message{
    text-align: center;
    border: 2px solid black;
    background-color:rgb(83, 82, 82) ;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.header{
    background-color: rgb(56, 56, 56);
    width: 1263px;
    height:30px;
    text-align: right;
}

a{
    background-color: palevioletred;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 10px;
    color: white;
}





