th{
    border: 1px solid black;
    background-color: lightcoral;
    width: 250px;
    font-size: 20px;
}

td{
    border: 1px solid black;
    background-color: lightpink;
    width: 250px;
    font-size: 15;
}
.body{
    text-align: justify;
    margin-left: 120px;
    margin-right: 135px;
}

h1{
    text-align: center;
    background-color: sandybrown;
    margin-bottom: 0px;
    height: 70px;
    padding-top: 14px;
}

.container{
    background-color: beige;
    height: 450px;
    padding-top: 50px;
}

body{
    background-color: rgb(56, 56, 56);
    margin: 0px;
}

.header{
    background-color: beige;
    width: 1263px;
    height:30px;
    text-align: right;
}

a{
    background-color: sandybrown;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 10px;
    color: rgb(56, 56, 56);
}