body{
    background-color: burlywood;
    margin: 0px;
}

.judul{
    float: left;
    text-align: center;
    background-color: indianred;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 5px;
    width: 306px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 70px;
    padding-top: 30px;
    box-shadow: 0px -10px 10px -10px black;

}
.container{
    border: 3px solid indianred;
    border-radius: 20px;
    background-color: rgb(173, 172, 172);
    margin-bottom: 15px;
    margin-right: 10px;
    width: 290px;
    height: 400px;
    margin-left: 5px;
    padding-left: 10px;
    box-shadow: 0px 3px 8px black;
}

.parent{
    float: left;
    margin-left: 70px;
}

p{
    margin-top: 20px;
}

.to{
    margin-top: 115px;
    border-bottom: 2px solid indianred;
    font-family: 'Lucida Sans';
    margin-right: 10px;
}
.message{
    border: 1pt solid rgba(91,91,91, 0.4);
    border-radius: 20px;
    margin-top: 30px;
    background-color: rgba(91,91,91, 0.4);
    margin-right: 10px;
    height: 140px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.from{
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    font-family: 'Lucida Sans';
    border-top: 2px solid indianred;
    padding-top: 5px;
    margin-right: 10px;
}

.top{
    text-align: center;
    font-family: 'Lucida Sans';
}

.header{
    background-color: indianred;
    width: 1263px;
    height:30px;
    text-align: right;
}

a{
    background-color: rgb(173, 172, 172);
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 10px;
    color: beige;
}