body {
    height: 50px;
    width: 100px;
    background-color: black;
    margin: 5px;
}

body.h1{
    font-family: Verdana;
}

body.form{
    height: 50px;
    width: 100px;
    text-align: center;
    border: 5px;
    padding: 10px;
    background-color: bisque;
    font-size: 10pt;
}
